.DS_Store
config/database.yml
config/facebooker.yml
config/development.sphinx.conf
config/production.sphinx.conf
config/sphinx.yml
db/schema.rb
log/*.log
log
tmp
coverage/
nbproject
public/attachments
public/company_logos
public/file_values
public/image_values
public/item
public/pdfs
public/values
public/stylesheets/gp*.css
public/stylesheets/good*
public/*/cache/*
/test
*~
*#
.#*
*.swp
fixtures/support/enhanced.rb
public/system
*.sqlite3*
*.sql
config/development.sphinx.conf
config/production.sphinx.conf
solr
*.komodoproject
vendor/plugins/rails-dev-boost/*